body:after {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}
h1 {
    font-size:26px ;
    line-height: 32px;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}
h3 {
    font-size:26px ;
    line-height: 32px;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-size:26px ;
    line-height: 32px;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}
p {
    font-size:14px ;
    line-height: 18px;
    color:white;
    font-weight: 600;
}
body {
    background-color: #1e1e1e;
    font-family: 'Quicksand', sans-serif;
}
.header-class {
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 6969;
}
.header-class-start {
    width: fit-content;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    padding-left: 60px;
}
.header-class-start img {
    height: 30px;
    align-self: center;
}
.header-class-nav {
    width: 600px;
    height: 100%;
}
.header-class-contacts {
    width: fit-content;
    height: 100%;
    background-color: silver;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.header-class-contacts a{
    cursor: pointer;
}
.header-class-contacts-ig{
    width: 20px;
    height: 20px;
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.header-class-contacts-ln{
    width: 20px;
    height: 20px;
    background-image: url(linkedin.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


a {
    cursor: pointer;
}

.header-class-nav ul {
    list-style: none;
    margin-left: 30px;
    
}
.header-class-nav ul li {
    display: inline;
    float: left;
    color:white;
}

.header-class-nav ul li a {
    padding: 0 0 10px 10px;
    font-family: 'Quicksand', sans-serif;
    line-height: 60px;
    
}
.header-class-nav ul li a:hover {
    color:red;
    transition: ease-in-out 300ms;
}
main img{
    height: 60px;
    width: 60px;
}